/* fix profile settings view */
body.sideShowing, body.sideShowing #viewport {
    height: 100vh !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
}

/* make header bar more compact and fixed \m/ */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 80px;
    height: 38px;
}
#mJewelNav {
    margin: auto;
    max-width: 380px;
}
#header .jewel > a > div {
    height: 38px;
    position: relative;
    top: -3px;
}

/* make additional header more compact and fixed (on some views) */
#root .mFuturePageHeader, #modalDialog .mFuturePageHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 80px;
    height: 38px;
}

/* correct padding for modal views */
#root {
    padding-top: 38px;
}
#modalDialog .modalDialogView {
    padding-top: 38px;
}

/* correct styles for main layout*/
.jewel .flyout {
    margin-top: 38px !important;
    bottom: 0;
    overflow: auto;
}

/* hide locale selector from settings view (some styles issues) */
.jewel .flyout #locale-selector {
    display: none;
}

/* hide "People You May Know" section */
#u_d_4, ._d2r {
    display: none;
}

/* hide suggestions from search view */
#m\:chrome\:schedulable-graph-search ._1_oa._4gvh._4gvl._1w-s._1_oc._1_od._bmx {
    display: none;
}
#m\:chrome\:schedulable-graph-search ._tn0:not(:first-child) {
    display: none;
}

/* Hide some broken scroll areas */
.scrollArea {
    display: none;
}
